:root {
  /* text colours */
  --h-color: #591e29;
  --text-color: #735c60;
  --bold-pink: #d95252;
  --pink-line: #f99f9a;
  --white-text: #ffffff;

  /* background colours */
  --white-bg: #ffffff;
  --pink-bg: #d95252;
  --small-box: #dd6762;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin: 0;
  background-color: var(--pink-bg);
}
.mainflex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  /* background-color: var(--pink-bg); */
}
#wrapper {
  margin: auto;
  max-width: 600px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--white-text);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink-bg);
  height: 80px;
  color: var(--white-bg);
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2pxsolid var(--h-color);
}

.logo {
  margin: 0;
}
/* .logo:hover {
  background-color: var(--pink-line);
} */

.navbar button {
  border: none;
  background-color: var(--small-box);
  color: var(--white-text);
  padding: 6px 7px;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.navbar svg {
  margin-right: 1px;
}

button:hover {
  background-color: var(--pink-line);
}
.mainflex > * {
  min-height: 100px;
}
.start {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: var(--small-box);
  margin: 2rem 3rem 1rem 3rem;
  border-radius: 25px;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  background-color: var(--small-box);
  border-radius: 25px;
}
.menu button {
  border: none;
  background-color: var(--small-bg);
  color: var(--white-text);
  padding: 6px 7px;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.menu button:hover {
  background-color: var(--h-color);
}
.timer {
  font-size: 12vw;
  font-weight: bold;
  text-align: center;
  color: var(--white-text);
}

.start-button {
  border: none;
  background-color: var(--white-bg);
  color: var(--bold-pink);
  padding: 6px 7px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 5px;

  cursor: pointer;
}

.start-button:hover {
  background-color: var(--h-color);
  color: var(--white-text);
}

.working-on {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: var(--white-text);
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* ------------------------------------------------- */
.tasks {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: var(--pink-bg);
}

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0;
  color: var(--white-text);
  border-bottom: 2px solid var(--white-bg);
}
.title h2 {
  margin-left: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.title button {
  border: none;
  background-color: var(--white-bg);
  color: var(--bold-pink);

  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
  border-radius: 5px;

  cursor: pointer;
}

.title button:hover {
  background-color: var(--h-color);
  color: var(--white-bg);
}
.task1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--text-color);
  background-color: var(--white-bg);
  padding: 1rem;
  border-radius: 10px;
}
.task2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--text-color);
  background-color: var(--white-bg);
  padding: 1rem;
  border-radius: 10px;
}
.add-task {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--text-color);
  background-color: var(--small-box);
  padding: 1rem;
  border-radius: 10px;
  border-style: dotted;
  cursor: pointer;
}
.task-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--text-color);
  background-color: var(--pink-line);
  border-top: 1px solid var(--white-bg);
}
.task-details span {
  font-weight: bold;
  font-size: larger;
  color: var(--white-text);
}
/* ------------------------------------------------- */
.text {
  background-color: var(--white-bg);
}

.text h1 {
  color: var(--h-color);
}

.text h2 {
  color: var(--h-color);
  border-bottom: 3px solid var(--pink-line);
}

.text p {
  color: var(--text-color);
}

.text span {
  color: var(--pink-line);
  font-weight: bold;
}

footer {
  background-color: var(--white-bg);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.words {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 00.5rem;
}
.kama {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
.kama span {
  color: var(--pink-bg);
}
